$color1: #ecf0f1;
$color2: #f39c12;
$color3: rgb(51, 51, 51);

 

  @media (max-width: 1000px){
    
    html {
      height: 100%;
      background: $color3;
    }
         
  
    .scroll-animations-example {
      display: none;
    }

    .handy_version {
      .menu {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: space-around;
        flex-wrap: wrap;

        p{
          font-size: 20px;
          color: #f39c12;
          flex: 0 0 auto;
          margin: 10px;
        }
      }

        .logo {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          h1 {
            font-size: 80px;
            color:#ecf0f1;
            margin: 6px;
          }
        }

        .mission {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          p{
            font-size: 100px;
            color: #f39c12;
            margin: 20px;
          }
        }

      }
    }


  @media (min-width: 1000px){
    
html {
  height: 100%;
  background: $color3;
}
     
  body {
    height: 100%;
    background: $color3;
    overflow: hidden;
    padding: 0;
    margin: 0;
  }

  
  .handy_version {
    display: none;
  }
  .scroll-animations-example > .scrollsection {
    padding: 10vh 10vh 10vh 10vmax;
    min-width: 14000px;
  }


@import "logo";
@import "mission" ;
@import "menu";
@import "aboutme";
@import "photos";
@import "footer";


  }